aiohappyeyeballs @ file:///C:/b/abs_e94qbm2tkb/croot/aiohappyeyeballs_1732663874173/work
aiohttp==3.7.4.post0
aiosignal==1.2.0
annotated-types==0.7.0
anyio @ file:///C:/b/abs_31grv7a7bl/croot/anyio_1729121290992/work
appdirs==1.4.4
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argcomplete==1.12.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.4
async-lru @ file:///C:/b/abs_e0hjkvwwb5/croot/async-lru_1699554572212/work
async-timeout==3.0.1
atomicwrites==1.4.0
attrs @ file:///C:/b/abs_24xj44kobp/croot/attrs_1729089434205/work
Babel @ file:///C:/b/abs_a2shv_3tqi/croot/babel_1671782804377/work
backcall==0.2.0
base58==2.1.0
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
bio-embeddings-esm @ file:///home/conda/feedstock_root/build_artifacts/bio-embeddings-esm_1614271161029/work
biopandas==0.5.1
biopython==1.84
bioservices==1.11.2
bitarray==1.2.2
black==21.9b0
bleach==4.1.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
cattrs==24.1.2
certifi==2021.5.30
cffi @ file:///D:/bld/cffi_1725560649097/work
chardet==4.0.0
charset-normalizer==2.0.6
click==8.1.7
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
colorlog==6.9.0
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
conda @ file:///D:/bld/conda_1722273254949/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1727359833193/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1729006966809/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1729004031731/work
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
cpdb-protein==0.2.0
cycler==0.11.0
Cython==3.0.11
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclassy==0.10.4
debugpy==1.5.1
decorator==5.1.0
deepdiff==8.0.1
defusedxml==0.7.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
easydev==0.13.2
eip712==0.1.0
entrypoints==0.3
eth-abi==2.1.1
eth-account==0.5.5
eth-brownie==1.16.4
eth-event==1.2.3
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
exceptiongroup @ file:///C:/b/abs_c5h1o1_b5b/croot/exceptiongroup_1706031441653/work
execnet==1.9.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///C:/b/abs_4ev90296ly/croot/python-fastjsonschema_1731939386416/work
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
Flask-Compress==1.10.1
fonttools @ file:///C:/b/abs_f47gnfqnx0/croot/fonttools_1713551644747/work
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
frozendict @ file:///D:/bld/frozendict_1728841510348/work
frozenlist==1.2.0
fsspec @ file:///C:/b/abs_02vh2bpxfo/croot/fsspec_1724855601370/work
gevent==24.11.1
gmpy2 @ file:///C:/ci/gmpy2_1645438895476/work
graphein==1.7.7
greenlet @ file:///D:/bld/greenlet_1726922269908/work
grequests==0.7.0
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
hexbytes==0.2.2
httpcore @ file:///C:/b/abs_55n7g233bw/croot/httpcore_1706728507241/work
httpx @ file:///C:/b/abs_43e135shby/croot/httpx_1723474830126/work
hypothesis==6.21.6
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1733223117029/work
inflection==0.5.0
ipfshttpclient==0.8.0a2
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jaxtyping==0.2.36
jedi==0.18.1
Jinja2 @ file:///C:/b/abs_ddyeze2h6_/croot/jinja2_1730903330414/work
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
json5 @ file:///C:/b/abs_743lprxrv5/croot/json5_1730786818336/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///D:/bld/jsonpointer_1725302958210/work
jsonschema==3.2.0
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-events @ file:///C:/b/abs_c2m9s5b5m5/croot/jupyter_events_1718738115254/work
jupyter-lsp @ file:///C:/b/abs_ecle3em9d4/croot/jupyter-lsp-meta_1699978291372/work
jupyter_core @ file:///C:/b/abs_beftpbuevw/croot/jupyter_core_1718818307097/work
jupyter_server @ file:///C:/b/abs_9a333nh6yu/croot/jupyter_server_1718827092223/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1731778660997/work
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
jupyterlab_server @ file:///C:/b/abs_fdi5r_tpjc/croot/jupyterlab_server_1725865372811/work
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
lazy-object-proxy==1.6.0
libmambapy @ file:///D:/bld/mamba-split_1711394434532/work/libmambapy
line_profiler==4.1.3
lmdb @ file:///D:/bld/python-lmdb_1726688965317/work
loguru==0.7.2
looseversion==1.1.2
lru-dict==1.1.7
lxml==5.3.0
mamba @ file:///D:/bld/mamba-split_1711394434532/work/mamba
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdurl==0.1.2
menuinst @ file:///D:/bld/menuinst_1731146989381/work
mistune==0.8.4
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mmtf-python==1.1.3
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack==1.1.0
multiaddr==0.0.9
multidict @ file:///C:/b/abs_19e3ubo2ew/croot/multidict_1730905504444/work
multipledispatch==1.0.0
mythx-models==1.9.1
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx @ file:///C:/b/abs_3bxnu56g9d/croot/networkx_1717597507456/work
notebook==6.4.6
notebook_shim @ file:///C:/b/abs_a5xysln3lb/croot/notebook-shim_1699455926920/work
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=ebb5aa2b36d8afa5ec3231c19e5a1fc75b6d85e7db483f0fb9e77dad58469977
orderly-set==5.2.2
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
packaging @ file:///C:/b/abs_c3vlh0z4jw/croot/packaging_1720101866539/work
pandas @ file:///C:/b/abs_e18w9ay4we/croot/pandas_1732735115740/work/dist/pandas-2.2.3-cp310-cp310-win_amd64.whl#sha256=6fc0a0523ea4ec3f23a2b790c738c857942b4c579479f8012ac8148d675b8975
pandocfilters==1.5.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1731432186484/work
pexpect==4.9.0
pickleshare==0.7.5
pillow @ file:///C:/b/abs_2cm0qc1vxk/croot/pillow_1731594717982/work
pipx==0.16.4
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
plotly==5.24.1
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
ply==3.11
prometheus-client==0.12.0
prompt-toolkit==3.0.20
propcache @ file:///C:/b/abs_d6o8xbonwb/croot/propcache_1732304003668/work
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
ptyprocess==0.7.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-solc-ast==1.2.9
py-solc-x==1.1.0
pycairo==1.27.0
pycosat @ file:///D:/bld/pycosat_1732588420399/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.10.2
pydantic_core==2.27.1
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
pygments-lexer-solidity==0.7.0
PyJWT==1.7.1
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
pyrsistent==0.18.0
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pytest==6.2.5
pytest-forked==1.3.0
pytest-xdist==1.34.0
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv==0.16.0
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
pythx==1.6.1
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pywin32==302
pywinpty==1.1.6
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
qtconsole==5.2.1
QtPy==1.11.3
rdkit @ file:///D:/bld/rdkit_1721396013129/work
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
regex==2021.8.28
reportlab @ file:///D:/bld/reportlab_1727846984970/work
requests==2.26.0
requests-cache==1.2.1
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rich==13.9.4
rich-click==1.8.5
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1687519531733/work
rpds-py @ file:///C:/b/abs_4b4__dizw9/croot/rpds-py_1732234502033/work
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1728765092672/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1728724596309/work
scikit-learn @ file:///C:/b/abs_aajc9f7v6r/croot/scikit-learn_1722067652693/work/dist/scikit_learn-1.5.1-cp310-cp310-win_amd64.whl#sha256=d3ded78b7bb91f829cb7be157ece5f47bcf4ff0076062ac61a83823f60df892c
scipy @ file:///C:/Users/dev-admin/cr_scipy-release/scipy_1731623378890/work/dist/scipy-1.14.1-cp310-cp310-win_amd64.whl#sha256=b0806979689db0e35099d60654c8efbf9c4feb9f01011de170330d8a2d138e5d
seaborn==0.11.2
Send2Trash==1.8.0
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
sortedcontainers==2.4.0
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1729066497613/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///D:/bld/statsmodels_1727986825006/work
suds-community==1.2.0
sympy @ file:///C:/b/abs_4e4p71hdj_/croot/sympy_1724938208509/work
tenacity==9.0.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
torch==2.4.1
torch-geometric @ file:///C:/Miniconda/envs/test/conda-bld/pyg_1728445398597/work
torch_cluster @ file:///C:/Miniconda/envs/test/conda-bld/pytorch-cluster_1723714368336/work
torch_scatter @ file:///C:/Miniconda/envs/test/conda-bld/pytorch-scatter_1723705944238/work
torchaudio==2.4.1
torchdrug @ file:///home/zhuzhaoc/.local/envs/conda-build/conda-bld/torchdrug_1689543970402/work
torchvision @ file:///C:/b/abs_61prww4bv9/croot/torchvision_1689079992237/work
tornado @ file:///C:/b/abs_7bua0304mj/croot/tornado_1718740122405/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1732497199771/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1729762363021/work
typing_extensions==4.12.2
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2 @ file:///C:/b/abs_b6apldlg7y/croot/unicodedata2_1713212998255/work
url-normalize==1.4.3
urllib3==1.26.20
userpath==1.7.0
vvm==0.1.0
vyper==0.2.16
wcwidth==0.2.5
web3==5.23.1
webencodings==0.5.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
websockets==9.1
wget==3.2
widgetsnbextension==3.5.2
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
win32-setctime==1.1.0
wrapt==1.12.1
xarray==2024.11.0
xmltodict==0.14.2
yarl==1.6.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
